.buttonCount {
  padding: 10px 20px;
  margin: 5px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.buttonCount:hover {
  background-color: rgb(1, 65, 0);
}
